header {
  background-color: rgb(0,35,89);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}
.logo{
	width:345px !important;
	height:345px !important;
	margin:auto !important;
}
button{
	width:230px !important;
	height:40px !important;
	font-size:12pt !important;
}



